@import 'variables';

.task-info{
	font-size: 12px;
	color: $light-grey;
}
li.task-done{
	border-color: $light-grey !important;
	color: $light-grey;
	.task-info{
		color: $light-grey;
	}
}

.task-list li{

	position:relative;
	padding: 5px 50px 5px 15px;
	border-left: 2px solid $red;
	margin-bottom:20px;
	p{
		margin-bottom:0px;
	}
	.btn-done{
		position:absolute;
		bottom:5px;
		right:0;
		width:28px;
		height:28px;
		overflow: hidden;
		span.icon-checkmark,span.icon-clock{
			display: inline-block;
			font-size: 20px;
			padding:4px;
			-webkit-transition: all 0.3s linear;
			-moz-transition: all 0.3s linear;
			-ms-transition: all 0.3s linear;
			-o-transition: all 0.3s linear;
			transition: all 0.3s linear;
		}
		span.icon-checkmark{
			color:$red;

		}
		span.icon-clock{
			color:$light-grey;
		}
		&:hover{
			cursor:pointer;
			span.icon-clock{
				-moz-transform: translateX(0px) translateY(-28px);
				-webkit-transform: translateX(0px) translateY(-28px);
				-o-transform: translateX(0px) translateY(-28px);
				-ms-transform: translateX(0px) translateY(-28px);
				transform: translateX(0px) translateY(-28px);
			}
			span.icon-checkmark{
				-moz-transform: translateX(0px) translateY(-28px);
				-webkit-transform: translateX(0px) translateY(-28px);
				-o-transform: translateX(0px) translateY(-28px);
				-ms-transform: translateX(0px) translateY(-28px);
				transform: translateX(0px) translateY(-28px);
			}
			
		}
	}
}

#new-task{
	@media (max-width: 992px) {
    	margin-bottom: 15px;
  	}
	.form-group{
		margin-bottom: 15px;
		@media (max-width: 992px) {
    		margin-bottom: 10px;
  		}
	}
}