/app/config/database.php
/app/config/mail.php
/bootstrap/compiled.php
/public/bower_components
/bower_components
/node_modules
/vendor
/.sass-cache
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
todo.sublime-project
todo.sublime-workspace